# Node
NODE_ENV="production"
=
# Site url
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
NEXT_PUBLIC_DOMAIN_SITE_URL=
NEXT_PUBLIC_S3_DOMAIN_SITE_URL=
=
# API Validate
API_SECRET_KEY=InB1
HEALTH_CHECK_SECRET_KEY=InB1
NEXT_REVALIDATION_SECRET=
=
# Config Keys
NPM_GITHUB_TOKEN=
GITHUB_TOKEN=
GITHUB_TOKEN_NEW=
=
# Authentication
BETTER_AUTH_SECRET="A_RANDOM_SECRET_STRING"
=
# Database
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PRIVATE_SUPABASE_ANON_KEY=
=
# Mails & Contact
# ... Base
CONTACTS_PROVIDER=
MAIL_PROVIDER=
SENDER_EMAIL=""
SENDER_NAME=""
# ... API KEY
# ... ... with Brevo
BREVO_API_KEY=
# ... ... with Resend
RESEND_API_KEY=""
# ... Audience List
# ... ... with Brevo
BREVO_GENERAL_LIST_ID="18"
BREVO_COURSE_LIST_ID="20"
BREVO_VIDEO_LIST_ID="19"
BREVO_EBOOKS_LIST_ID="21"
BREVO_MASTERCLASS_LIST_ID="22"
BREVO_FIGMA_TEMPLATE_LIST_ID="23"
BREVO_CODE_LIST_ID="24"
BREVO_QUESTS_REGISTER_ID="25"
BREVO_QUESTS_SUBMISSIONS_ID="26"
# ... ... with Resend
RESEND_GENERAL_LIST_ID=""
RESEND_COURSE_LIST_ID=""
RESEND_VIDEO_LIST_ID=""
RESEND_EBOOKS_LIST_ID=""
=
# Payments
# ... with Lemonsqueezy
LEMONSQUEEZY_API_KEY=""
LEMONSQUEEZY_WEBHOOK_SECRET=""
LEMONSQUEEZY_STORE_ID=""
# ... with Stripe
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""
=
# Tasks
# ... with trigger
TRIGGER_ACCESS_TOKEN=""
=
# Analytics
# ... for Posthog
NEXT_PRIVATE_POSTHOG_CODE=""
NEXT_PRIVATE_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PRIVATE_POSTHOG_PERSONAL_KEY=
NEXT_PUBLIC_POSTHOG_HOST=https://us.i.posthog.com
# ... for Plausible
NEXT_PUBLIC_PLAUSIBLE_URL=""
# ... for Google Analytics
NEXT_PUBLIC_GOOGLE_ANALYTICS_ID=""
=
# Storage
S3_ACCESS_KEY_ID=""
S3_SECRET_ACCESS_KEY=""
S3_ENDPOINT=""
S3_REGION=""
NEXT_PUBLIC_AVATARS_BUCKET_NAME=""
=
# AI
# ... with OpenAI
OPENAI_API_KEY=
=
# ReCaptcha
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=
NEXT_PRIVATE_RECAPTCHA_SECRET_KEY=
NEXT_PUBLIC_TURNSTILE_SITE_KEY=
NEXT_PRIVATE_TURNSTILE_SECRET_KEY=
=
=
PAGESPEED_API_KEY=