@import "tailwindcss";
@import "tw-animate-css";

/* @custom-variant dark (&:where(.dark, .dark *)); */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


@layer base {
  :root {
    --background: oklch(98.46% 0.002 247.84);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(54.65% 0.246 262.87);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(100% 0 0);
    --accent-foreground: oklch(96.7% 0.003 264.54);
    --destructive: oklch(0.577 0.245 27.325);
    --destructive-foreground: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --radius: 0.625rem;
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
  }

  :root {
    --avatar-user-squareali-mahdi-color-background: rgba(207, 212, 198, 1);
    --avatar-user-squareamlie-laurent-color-background: rgba(221, 192, 206, 1);
    --avatar-user-squareammar-foley-color-background: rgba(199, 209, 176, 1);
    --avatar-user-squareashton-blackwell-color-background: rgba(211, 214, 233, 1);
    --avatar-user-squarecohen-lozano-color-background: rgba(198, 208, 203, 1);
    --avatar-user-squareisla-allison-color-background: rgba(233, 220, 187, 1);
    --avatar-user-squarejulius-vaughan-color-background: rgba(233, 220, 187, 1);
    --avatar-user-squareowen-garcia-color-background: rgba(233, 220, 187, 1);
    --avatar-user-squareriley-omoore-color-background: rgba(233, 220, 187, 1);
    --avatar-user-squaresienna-hewitt-neutral-background: rgba(224, 224, 224, 1);
    --avatar-user-squareyoussef-roberson-color-background: rgba(216, 224, 207, 1);
    --avatar-user-squarezahra-christensen-neutral-background: rgba(
      224,
      224,
      224,
      1
    );
    --base-white: rgba(255, 255, 255, 1);
    --elevation-02: 0px 16px 24px 0px rgba(0, 0, 0, 0.12);
    --gray-900: rgba(24, 29, 39, 1);
    --greys-00: rgba(255, 255, 255, 1);
    --greys-01: rgba(245, 245, 245, 1);
    --greys-02: rgba(231, 231, 231, 1);
    --greys-06: rgba(79, 79, 79, 1);
    --greys-08: rgba(42, 42, 42, 1);
    --large-24-font-family: "SF Pro Display", Helvetica;
    --large-24-font-size: 24px;
    --large-24-font-style: normal;
    --large-24-font-weight: 500;
    --large-24-letter-spacing: 0.016800000071525573px;
    --large-24-line-height: 120.00000762939453%;
    --medium-17-font-family: "SF Pro Text", Helvetica;
    --medium-17-font-size: 17px;
    --medium-17-font-style: normal;
    --medium-17-font-weight: 500;
    --medium-17-letter-spacing: 0.07310000121593475px;
    --medium-17-line-height: 22px;
    --SF-pro-medium-17-m-font-family: "SF Pro Text", Helvetica;
    --SF-pro-medium-17-m-font-size: 17px;
    --SF-pro-medium-17-m-font-style: normal;
    --SF-pro-medium-17-m-font-weight: 400;
    --SF-pro-medium-17-m-letter-spacing: 0.07310000121593475px;
    --SF-pro-medium-17-m-line-height: 22px;
    --SF-pro-title-01-64-font-family: "SF Pro Display", Helvetica;
    --SF-pro-title-01-64-font-size: 64px;
    --SF-pro-title-01-64-font-style: normal;
    --SF-pro-title-01-64-font-weight: 400;
    --SF-pro-title-01-64-letter-spacing: 0.14079999923706055px;
    --SF-pro-title-01-64-line-height: 100%;
    --SF-pro-title-02-34-font-family: "SF Pro Display", Helvetica;
    --SF-pro-title-02-34-font-size: 34px;
    --SF-pro-title-02-34-font-style: normal;
    --SF-pro-title-02-34-font-weight: 400;
    --SF-pro-title-02-34-letter-spacing: 0.13939999878406525px;
    --SF-pro-title-02-34-line-height: 120.00000762939453%;
    --text-iconsdark-high-emphasis: rgba(255, 255, 255, 1);
    --text-iconslight-disabled: rgba(0, 0, 0, 0.38);
    --text-iconslight-high-emphasis: rgba(0, 0, 0, 0.87);
    --text-iconslight-medium-emphasis: rgba(0, 0, 0, 0.6);
    --tiny-12-font-family: "SF Pro Text", Helvetica;
    --tiny-12-font-size: 12px;
    --tiny-12-font-style: normal;
    --tiny-12-font-weight: 500;
    --tiny-12-letter-spacing: 0px;
    --tiny-12-line-height: 16px;
    --title-01-64-font-family: "SF Pro Display", Helvetica;
    --title-01-64-font-size: 64px;
    --title-01-64-font-style: normal;
    --title-01-64-font-weight: 400;
    --title-01-64-letter-spacing: 0.14079999923706055px;
    --title-01-64-line-height: 68px;
    --title-03-28-font-family: "SF Pro Display", Helvetica;
    --title-03-28-font-size: 28px;
    --title-03-28-font-style: normal;
    --title-03-28-font-weight: 500;
    --title-03-28-letter-spacing: 0px;
    --title-03-28-line-height: 42px;
  }

	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		@apply border-border outline-ring/50;
	}
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@utility container {
	margin-inline: auto;
	padding-inline: 1.5rem;
	width: 100%;
	max-width: var(--container-7xl);
}

@utility no-scrollbar {
	&::-webkit-scrollbar {
		display: none;
	}
	-ms-overflow-style: none;
	scrollbar-width: none;
}
